@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode-Regular.woff2") format("woff2"),
    url("/fonts/FiraCode-Regular.woff") format("woff");
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Fira Code", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.expression {
  color: #c7667d;
}

.react-component,
.react-component-close,
.class-name,
.class-name-usage {
  color: #41d9a2;
}

.jsdoc-tag {
  color: #00b2ff;
}

.function-name {
  color: #afa1ff;
}

.function-param {
  color: #ffffff;
}

.variable-1,
.variable-2,
.variable-3,
.variable-4,
.variable-5 {
  color: #ffffff;
}

.property {
  color: #ffffff;
}

.comment-section {
  color: #808080;
}

.tab {
  padding-left: 2rem;
}

@media (max-width: 1024px) {
  .tab {
    padding-left: 0.8rem;
  }
}