.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;

  margin: 0;
  padding: 0;

  justify-content: flex-end;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
  color: gray;
}

.header *:hover {
  color: white;
}

.section {
  display: flex;

  justify-content: center;
  margin-bottom: 5rem;
  padding: 1rem;
}

.section .content {
  width: 100%;
  max-width: 1920px;
}

.container .section:first-of-type {
  min-height: 300px;
}

.content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.content h1 + * {
  color: gray;
}
